p, h5 {
  margin: 0;
  padding: 0;
}

.main {
  text-align: center;
  margin: 20px auto 20px auto;
}

.datepickerMonth {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 2px;
  grid-column-gap: 2px;
  margin: auto;
  width: 95vw;
}

.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}